.deps/
.venv/
__pycache__/
*.pyc
build/*.o
build/loader/*.o
build/hardware.txt
rust-emulator/target/
build/foundation/*.o
build/display/*.o
build/display/*.o
build/display/loader/*.o
build/display/text.bin
build/display/data.bin
build/display/ramtext.bin
tests/fixtures/display/*.o

/emulator
